* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(172, 20, 20);
    letter-spacing: 2px;
}

.contact--general0__Titulo {
    /*Barra de título*/
    position: fixed;
    z-index: 150;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #a2d9ff;
    border: #a2d9ff outset;
}

.contact--general0__Titulo>h1 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}

.contact--general1__section {
    position: fixed;
}

.contact--general1__section>img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.Container--nav {
    /*contenedor Nav de la izquierda*/
    position: fixed;
    display: flex;
    z-index: 1000;
    background-color: #a2d9ff;
    border: #a2d9ff outset;
    flex-direction: column;
    width: 10%;
    height: 100%;
    top: 66px;
}

.Container--nav>a { 
    margin-right: auto;
    margin-left: auto;
    border: rgb(174, 0, 255) 3px solid;
    color: rgb(122, 10, 173);
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
}
.a-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Container--nav>a:hover {
    /*Links de el nav de la izq*/
    background-color: rgb(174, 0, 255);
    color: #ffffff;
}
.logo-aside {
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
    height: 75px;
}

a::after {
    /*Flechitas de los links*/
    content: "→";
}

/*Container de la primera fila*/
/*Container 1 primer proyecto*/

.Container--general1__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 170px;
    border: groove 3px #dedede;
    border-radius: 20px;
}

.Container--general1__div1>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;

}

.Container--general1__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div1-img {
    width: 300px;
    position: absolute;
    left: 30px;
    top: 40px;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general1__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general1__div1>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container 1 segundo proyecto*/

.Container--general1__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general1__div2>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general1__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general1__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general1__div2>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container 1 tercer proyecto*/

.Container--general1__div3 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 958px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general1__div3>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general1__div3-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div3-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general1__div3>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general1__div3>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container de la segunda fila*/
/*Container 2 primer proyecto*/
.Container--general2__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 170px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div1>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general2__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div1-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div1>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container 2 segundo proyecto*/
.Container--general2__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div2>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general2__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div2>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container 2 tercer proyecto*/
.Container--general2__div3 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 958px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div3>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general2__div3-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div3-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div3>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div3>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}
/*Container de la tercera fila*/
/*Container 3 primer proyecto*/
.Container--general3__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 1050px;
    left: 170px;
    border-radius: 20px;
    border: groove 3px #dedede;
    margin-bottom: 30px;  /*Quitar cuando se añada otro proyecto*/
}

.Container--general3__div1>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general3__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general3__div1-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general3__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general3__div1>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}

/*Container 2 segundo proyecto*/
.Container--general3__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 1050px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general3__div2>h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

.Container--general3__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general3__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general3__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general3__div2>a:hover {
    border-radius: 10px;
    background-color: rgb(248, 0, 0);
    border: rgb(255, 0, 0) solid 2px;
    color: rgb(255, 255, 255);
}
