
/*Mobile S 320px*/

@media only screen and (max-width: 320px) {
    /*Barra de t+itulo*/
    .contact--general0__Titulo {
        padding-top: 5px 0;
        position: fixed;
        z-index: 150;
        display: block;
        width: 100%;
        background-color: #a2d9ff;
        border: #a2d9ff outset;
    }
    .contact--general0__Titulo>h1 {
        font-size: 10px;
        letter-spacing: 0;
        font-weight: 900;
    }
    .contact--general0__LogoAxel {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 10px;
    }
    /*Nav de la izquierda*/
    .Container--nav {  
        position: absolute;
    }
    /*Container de la primera fila*/
    /*Container 1 primer proyecto*/
    .Container--general1__div1 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 70px;
        width: 300px;
        height: 390px;
    }
    .Container--general1__div1>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general1__div1-img {
        width: 270px;
        height: 300px;
        position: absolute;
        left: 15px;
        top: 40px;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div1>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container 1 segundo proyecto*/
    .Container--general1__div2 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 90px;
        width: 300px;
        height: 390px;
    }
    .Container--general1__div2>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general1__div2-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div2>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container 1 tercer proyecto*/
    .Container--general1__div3 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 110px;
        width: 300px;
        height: 390px;
    }
    .Container--general3__div1>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general1__div3-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div3>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container de la segunda fila*/
    /*Container 2 primer proyecto*/
    .Container--general2__div1 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 130px;
        width: 300px;
        height: 390px;
    }
    .Container--general2__div1>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general2__div1-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div1>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container 2 segundo proyecto*/
    .Container--general2__div2 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 150px;
        width: 300px;
        height: 390px;
    }
    .Container--general2__div2>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general2__div2-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div2>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container 2 tercer proyecto*/
    .Container--general2__div3 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 170px;
        width: 300px;
        height: 390px;
    }
    .Container--general2__div3>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general2__div3-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div3>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container de la tercera fila*/
    /*Container 3 primer proyecto*/ 
    .Container--general3__div1 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 190px;
        width: 300px;
        height: 390px;
    }
    .Container--general3__div1>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general3__div1-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    } 
    .Container--general3__div1>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*Container 2 segundo proyecto*/
    .Container--general3__div2 {
        position: relative;
        left: 10px;
        right: 10px;
        top: 180px;
        width: 300px;
        height: 390px;
    }
    .Container--general3__div2>h2 {
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;    
        font-size: 22px;
    }
    .Container--general3__div2-img {
        width: 270px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div2>a {
        position: absolute;
        text-decoration: none;
        top: 365px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s;
    }
    /*imagen de fondo*/
    .contact--general1__section>img {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
}