
/*Resposive Tablet768px*/

@media only screen and (max-width: 768px) {
    /*Barra de t+itulo*/
    .contact--general0__Titulo {
    }
    .contact--general0__Titulo>h1 {
    }
    .contact--general0__LogoAxel {
    }
    /*Nav de la izquierda*/
    .Container--nav {  
    }
    .Container--nav>a {
    }
    /*IMG de fondo */
    .contact--general1__section {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    /*Container de la primera fila*/
    /*Container 1 primer proyecto*/
    .Container--general1__div1 {
    }
    .Container--general1__div1>h2 {
    }
    .Container--general1__div1-img {
    }
    .Container--general1__div1>a {
    }
    /*Container 1 segundo proyecto*/
    .Container--general1__div2 {
    }
    .Container--general1__div2>h2 {
    }
    .Container--general1__div2-img {
    }
    .Container--general1__div2>a {
    }
    /*Container 1 tercer proyecto*/
    .Container--general1__div3 {

    }
    .Container--general3__div1>h2 {
    }
    .Container--general1__div3-img {
    }
    .Container--general1__div3>a {
    }
    /*Container de la segunda fila*/
    /*Container 2 primer proyecto*/
    .Container--general2__div1 {
    }
    .Container--general2__div1>h2 {
    }
    .Container--general2__div1-img {
    }
    .Container--general2__div1>a {
    }
    /*Container 2 segundo proyecto*/
    .Container--general2__div2 {
    }
    .Container--general2__div2>h2 {
    }
    .Container--general2__div2-img {
    }
    .Container--general2__div2>a {
    }
    /*Container 2 tercer proyecto*/
    .Container--general2__div3 {
    }
    .Container--general2__div3>h2 {
    }
    .Container--general2__div3-img {
    }
    .Container--general2__div3>a {
    }
    /*Container de la tercera fila*/
    /*Container 3 primer proyecto*/ 
    .Container--general3__div1 {
    }
    .Container--general3__div1>h2 {
    }
    .Container--general3__div1-img {
    } 
    .Container--general3__div1>a {
    }
    /*Container 2 segundo proyecto*/
    .Container--general3__div2 {
    }
    .Container--general3__div2>h2 {
    }
    .Container--general3__div2-img {
    }
    .Container--general3__div2>a {
    }
    /*imagen de fondo*/
    .contact--general1__section>img {
    }
}