
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
}
/* head */
h1{
    font-size: 30px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* header */
.container-fondo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 0;
    z-index: 500;
}

.header-fondo{
    width: 100%;
}
/* navvvvv */
.menu{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
    box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
}
.logo{
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;

}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li:active{
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100%;
        height: calc(100% - 65px);
        background-color: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background-color: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: #e9183b;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
/* generales de cards */
.wave{
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    width: 100%;
}
h2{
    text-align: center;
    position: relative;
    top: 15px;
    color: #fff;
    font-size: 20px;
}
.img{
    position: absolute;
    z-index: 30;
    width: 210px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.c-a{
    position: absolute;
    z-index: 70;
    text-decoration: none;
    color: rgb(209, 204, 204);
    bottom: 10px;
    left: 35px;
    font-family: 'Raleway', sans-serif;
}
.c-a:hover{
    color: #fff;
    text-decoration: underline;
}

/* card 1-8 */
.card-1, .card-2, .card-3, .card-4,
.card-5, .card-6, .card-7, .card-8{
    margin-bottom: 50px;
    -webkit-box-shadow: 46px 48px 45px -38px rgba(0,0,0,0.33);
    -moz-box-shadow: 46px 48px 45px -38px rgba(0,0,0,0.33);
    box-shadow: 46px 48px 45px -38px rgba(0,0,0,0.33);
    position: relative;
    width: 300px;
    height: 390px;
    background-color: #865DB0;
    overflow: hidden;
    border-radius: 36px;
}
/* carusel */

.contenedor {
    position: relative;
	max-width: 1100px;
	width: 80%;
    top: 350px;
	margin: auto;
    padding-bottom: 30px;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 50%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -40px;
}

.carousel__siguiente {
	right: 10px;
}

.carousel__lista {
	overflow: hidden;
    width: 1100px;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 5px;
	background: rgb(73, 72, 72);
	opacity: .2;
}

.carousel__indicadores{
    margin-top: 10px;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}
.footer-contenedor{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px;
    background-color: #d8d2d2;
    position: absolute;
    width: 100%;
    bottom: -266px;
    justify-items: start;
    align-items: center;
}
.footer-contenedor>p{
    grid-column: 2/3;
    font-size: 10px;
    color: #3d3b3b;
}
.img-footer{
    grid-column: 1/2;
    height: 22px;
    justify-self: center;
}

.logo-fb, .logo-tw{
    height: 12px;
    justify-self: center;
    margin-left: 10px;
}
