* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* head */
h1{
    font-size: 30px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* header */
.container-fondo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 0;
    z-index: 500;
}

.header-fondo{
    width: 100%;
}
/* navvvvv */
.menu{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
    box-shadow: 0px 14px 104px -4px rgba(0,0,0,0.33);
}
.logo{
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.menu_items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li {
    border-radius: 3px;
    margin: 0 5px;

}
.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.menu_items li:hover, li:active{
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
@media screen and (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width: 858px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100%;
        background-color: #531a4a67;
        top: -1000vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background-color: none;
    }
    .menu_items li a{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: #e91899;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
.c-a{  
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    font-size: 12px;
    opacity: .7;
}
.c-a:hover{
    color: rgb(0, 0, 0);
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

/* footerrrrrrr */
.footer-contenedor{
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 25px;
    background-color: #d8d2d2;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-items: start;
    align-items: center;
}
.footer-contenedor>p{
    font-size: 10px;
    color: #3d3b3b;
}
.p-f{
    grid-column: 3/4;
}
.img-footer{
    grid-column: 1/2;
    height: 22px;
    justify-self: center;
}

.logo-fb, .logo-tw{
    height: 12px;
    justify-self: center;
    margin-left: 10px;
}

@media only screen and (max-width: 393px) {
	h1.contact--general0__h1{
		font-size: 18px;
	}
	label.logo{
		padding: 0 70px 0 20px;
	}
    .container-fondo{
        width: 100vw;
        overflow: hidden;
    }
    .header-fondo{
        width: 170%;
    }
    /* footer */
    .footer-contenedor{
        grid-template-rows: 0 0 0;
        grid-template-columns: 0 0 0;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 25px 25px;
        justify-items: start;
        align-items: center;
    }
    .footer-contenedor>p{
        font-size: 15px;
    }
    .p-derechos{
        grid-row: 1/2;
        grid-column: 2/3;
        font-size: 10px !important;
    }
    .img-footer{
        display: none;
    }
    .p-f{
        height: 15px;
        justify-self: center;
        margin-left: 10px;
        justify-items: center;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    div.footer-contenedor{
        text-align: center;
    }
}