* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 242, 242);
}
h2 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(172, 20, 20);
    letter-spacing: 2px;
    text-align: center;
    margin-top: 5px;
}

.contact--general0 {
    display: grid;
    position: fixed;
    right: 0;
    width: 90%;
    z-index: 3000;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 75px;
    background-color: #e3e7ec;
    border-bottom: rgb(167, 197, 206) 1.5px solid;
}

.contact--general0__h1 {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    font-size: 25px;
    color: #ff7a59;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-decoration: underline dashed rgb(2, 206, 94);
}

/*navvv----*/

.Container--nav {
    display: grid;
    position: fixed;
    left: 0;
    z-index: 1000;
    background-color: #e3e7ec;
    border-right: rgb(167, 197, 206) 1.5px solid;
    width: 10%;
    height: 100%;
    grid-template-columns: 140px;
    grid-template-rows: 50px 50px 1fr;
    justify-items: center;
    justify-content: space-around;
}

.a-1 {
    width: 70%;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    border: #ff7a59 3px solid;
    background-color: #ff7a59;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
}

.a-2 {
    width: 70%;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    border: #ff7a59 3px solid;
    background-color: #ff7a59;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 100;
}

.a-1:hover, .a-2:hover {
    background-color: #ffbcac;
    border: #ffbcac 3px solid;
    transition: .5s;
    color: #ffffff;
}

.logoaxela {
    width: 100px;
    height: 100px;
    align-self: flex-end;
    justify-self: center;
}

.logoaxelimg {
    width: 100px;
    height: 100px;
    align-self: flex-end;
    justify-self: center;
}

/*primer container*/
.Container--general1__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 170px;
    border: groove 3px #dedede;
    border-radius: 20px;
}
.Container--general1__div1-img {
    width: 300px;
    position: absolute;
    left: 30px;
    top: 40px;
    border: rgb(0, 0, 0) dashed .5px;
}
.Container--general1__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: color .2s;
}

.Container--general1__div1>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*segundo container*/

.Container--general1__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general1__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general1__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general1__div2>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*container 3*/

.Container--general1__div3 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 90px;
    left: 958px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general1__div3-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general1__div3-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general1__div3>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general1__div3>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*cuaro container*/

.Container--general2__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 170px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div1-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div1>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*quinto contenedor---*/

.Container--general2__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div2>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*sexto contenedor*/

.Container--general2__div3 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 570px;
    left: 958px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general2__div3-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general2__div3-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general2__div3>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general2__div3>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*septimo contenedor*/

.Container--general3__div1 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 1050px;
    left: 170px;
    border-radius: 20px;
    border: groove 3px #dedede;
    margin-bottom: 30px;
}

.Container--general3__div1-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general3__div1-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general3__div1>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general3__div1>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*octavo contenedor*/

.Container--general3__div2 {
    position: absolute;
    z-index: 100;
    display: block;
    width: 360px;
    height: 450px;
    background-color: #ededed;
    overflow: hidden;
    top: 1050px;
    left: 565px;
    border-radius: 20px;
    border: groove 3px #dedede;
}

.Container--general3__div2-img {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: rgb(0, 0, 0) dashed .5px;
}

.Container--general3__div2-wave1 {
    position: absolute;
    height: 70%;
    bottom: 0;
    display: flex;
}

.Container--general3__div2>a {
    position: absolute;
    text-decoration: none;
    top: 420px;
    left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

.Container--general3__div2>a:hover {
    text-decoration: underline;
    color: rgb(23, 161, 81);
}

/*Responsive----- 375px Responsive----- 375px Responsive----- 375px*/
/*Responsive----- 375px Responsive----- 375px Responsive----- 375px*/
/*Responsive----- 375px Responsive----- 375px Responsive----- 375px*/

@media only screen and (max-width: 375px) {
    .contact--general0 {
        display: grid;
        position: fixed;
        z-index: 3000;
        width: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 50px;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
    }
    
    .contact--general0__h1 {
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
        font-size: 18px;
        color: #ff7a59;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        text-decoration: none;
    }

    h2 {
        font-family: 'Bebas Neue', cursive;
        color: rgb(172, 20, 20);
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
    }
    
    /*navvv----*/
    
    .Container--nav {
        display: grid;
        position: fixed;
        top: 50px;
        z-index: 1000;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
        border-right: none;
        border-top: none;
        width: 100%;
        height: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px;
    }
    
    .a-1 {
        grid-column: 1/2;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-2 {
        grid-column: 2/3;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-1:hover, .a-2:hover {
        background-color: #ffbcac;
        border: #ffbcac 3px solid;
        transition: .5s;
        color: #ffffff;
    }
    
    .logoaxela {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        align-self: center; 
    }
    
    .logoaxelimg {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        margin: 0;
        align-self: center;
    }
    /*primer contenedor */
    .Container--general1__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 100px;
        margin: auto;
        left: 0;
        right: 0;
        border: groove 3px #dedede;
        border-radius: 20px;
    }
    .Container--general1__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div1-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div1>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
    /*segundo contenedor */
    .Container--general1__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 540px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div2-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div2>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*tercer contenedor*/

    .Container--general1__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 980px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div3-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div3>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*cuarto container*/

    .Container--general2__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 1420px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div1-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div1>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*quinto contenedor*/

    .Container--general2__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 1860px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div2-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div2>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*sexto contenedor*/

    .Container--general2__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 2300px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div3-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div3>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*septimo contenedor*/

    .Container--general3__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 2740px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general3__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div1-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div1>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*octavo contenedor*/

    .Container--general3__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 340px;
        height: 430px;
        background-color: #ededed;
        overflow: hidden;
        top: 3180px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
        margin-bottom: 10px;
    }

    .Container--general3__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div2-img {
        width: 280px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div2>a {
        position: absolute;
        text-decoration: none;
        top: 400px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
}

/*Responsive----- 360px Responsive----- 360px Responsive----- 360px*/
/*Responsive----- 360px Responsive----- 360px Responsive----- 360px*/
/*Responsive----- 360px Responsive----- 360px Responsive----- 360px*/

@media only screen and (max-width: 360px) {
    .contact--general0 {
        display: grid;
        position: fixed;
        z-index: 3000;
        width: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 50px;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
    }
    
    .contact--general0__h1 {
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
        font-size: 18px;
        color: #ff7a59;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        text-decoration: none;
    }

    h2 {
        font-family: 'Bebas Neue', cursive;
        color: rgb(172, 20, 20);
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
    }
    
    /*navvv----*/
    
    .Container--nav {
        display: grid;
        position: fixed;
        top: 50px;
        z-index: 1000;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
        border-right: none;
        border-top: none;
        width: 100%;
        height: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px;
    }
    
    .a-1 {
        grid-column: 1/2;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-2 {
        grid-column: 2/3;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-1:hover, .a-2:hover {
        background-color: #ffbcac;
        border: #ffbcac 3px solid;
        transition: .5s;
        color: #ffffff;
    }
    
    .logoaxela {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        align-self: center; 
    }
    
    .logoaxelimg {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        margin: 0;
        align-self: center;
    }
    /*primer contenedor */
    .Container--general1__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 100px;
        margin: auto;
        left: 0;
        right: 0;
        border: groove 3px #dedede;
        border-radius: 20px;
    }
    .Container--general1__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
    /*segundo contenedor */
    .Container--general1__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 520px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*tercer contenedor*/

    .Container--general1__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 940px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div3-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div3>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*cuarto container*/

    .Container--general2__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 1360px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*quinto contenedor*/

    .Container--general2__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 1780px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*sexto contenedor*/

    .Container--general2__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 2200px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div3-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div3>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*septimo contenedor*/

    .Container--general3__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 2620px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general3__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*octavo contenedor*/

    .Container--general3__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 3040px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
        margin-bottom: 10px;
    }

    .Container--general3__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
}

/*Responsive----- 395px Responsive----- 395px Responsive----- 395px*/
/*Responsive----- 395px Responsive----- 395px Responsive----- 395px*/
/*Responsive----- 395px Responsive----- 395px Responsive----- 395px*/

@media only screen and (max-width: 395px) {
    .contact--general0 {
        display: grid;
        position: fixed;
        z-index: 3000;
        width: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 50px;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
    }
    
    .contact--general0__h1 {
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
        font-size: 18px;
        color: #ff7a59;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
        text-decoration: none;
    }

    h2 {
        font-family: 'Bebas Neue', cursive;
        color: rgb(172, 20, 20);
        letter-spacing: 2px;
        text-align: center;
        margin-top: 5px;
    }
    
    /*navvv----*/
    
    .Container--nav {
        display: grid;
        position: fixed;
        top: 50px;
        z-index: 1000;
        background-color: #e3e7ec;
        border-bottom: rgb(167, 197, 206) 1.5px solid;
        border-right: none;
        border-top: none;
        width: 100%;
        height: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px;
    }
    
    .a-1 {
        grid-column: 1/2;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-2 {
        grid-column: 2/3;
        border: #ff7a59 3px solid;
        background-color: #ff7a59;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 10px;
        width: 60%;
        height: 20px;
        margin-top: 0;
        padding: 0;
        align-self: center;
    }
    
    .a-1:hover, .a-2:hover {
        background-color: #ffbcac;
        border: #ffbcac 3px solid;
        transition: .5s;
        color: #ffffff;
    }
    
    .logoaxela {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        align-self: center; 
    }
    
    .logoaxelimg {
        width: 30px;
        height: 30px;
        grid-column: 3/4;
        margin: 0;
        align-self: center;
    }
    /*primer contenedor */
    .Container--general1__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 100px;
        margin: auto;
        left: 0;
        right: 0;
        border: groove 3px #dedede;
        border-radius: 20px;
    }
    .Container--general1__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
    /*segundo contenedor */
    .Container--general1__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 520px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*tercer contenedor*/

    .Container--general1__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 940px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }
    .Container--general1__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general1__div3-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general1__div3>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general1__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*cuarto container*/

    .Container--general2__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 1360px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*quinto contenedor*/

    .Container--general2__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 1780px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*sexto contenedor*/

    .Container--general2__div3 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 2200px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general2__div3-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general2__div3-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general2__div3>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general2__div3>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*septimo contenedor*/

    .Container--general3__div1 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 2620px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
    }

    .Container--general3__div1-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div1-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div1>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div1>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }

    /*octavo contenedor*/

    .Container--general3__div2 {
        position: absolute;
        z-index: 100;
        display: block;
        width: 320px;
        height: 410px;
        background-color: #ededed;
        overflow: hidden;
        top: 3040px;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 20px;
        border: groove 3px #dedede;
        margin-bottom: 10px;
    }

    .Container--general3__div2-wave1 {
        position: absolute;
        height: 70%;
        bottom: 0;
        display: flex;
    }
    .Container--general3__div2-img {
        width: 260px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        border: rgb(0, 0, 0) dashed .5px;
    }
    .Container--general3__div2>a {
        position: absolute;
        text-decoration: none;
        top: 380px;
        left: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: rgb(0, 0, 0);
        transition: color .2s;
    }
    .Container--general3__div2>a:hover {
        text-decoration: underline;
        color: rgb(23, 161, 81);
    }
}
