* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* head */

.head-container{
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px;
    grid-template-rows: 80px;
    width: 100%;
    z-index: 1000;
    position: absolute;
    justify-items: center;
    align-items: center;
}

h1{
    margin: 0;
    align-self: start;
    margin-top: 25px; 
}
.menu-hamburgesa{
    width: 65px;
    height: 40px;
    place-self: start start;
    margin-top: 25px;
    margin-left: 27px;
}
.logo-fb, .logo-tw{
    height: 45px;
}

/* header */
.container-fondo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    top: 0;
    z-index: 500;
}

.header-fondo{
    width: 100%;
}
/* container 1 */

.container-cards{
    display: grid;
    position: relative;
    top: 321px;
    grid-template-columns: 130px repeat(3, 1fr) 130px;
    grid-template-rows: 500px;
    justify-items: center;
    align-items: center;
}
/* card 1 */
.card-1 {
    grid-column: 2/3;
    position: relative;
    width: 330px;
    height: 420px;
    background-color: #865DB0;
    overflow: hidden;
    border-radius: 36px;
}

/* card 2 */
.card-2 {
    grid-column: 3/4;
    position: relative;
    width: 330px;
    height: 420px;
    background-color: #865DB0;
    overflow: hidden;
    border-radius: 36px;
}
/* card 3 */
.card-3 {
    grid-column: 4/5;
    position: relative;
    width: 330px;
    height: 420px;
    background-color: #865DB0;
    overflow: hidden;
    border-radius: 36px;
}
/* generales de cards */
.wave{
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 330px;
}
h2{
    text-align: center;
    position: relative;
    top: 15px;
    color: #fff;
}
.img{
    position: absolute;
    z-index: 30;
    width: 260px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.c-a{
    position: absolute;
    z-index: 30;
    text-decoration: none;
    color: #fff;
    bottom: 10px;
    left: 35px;
    font-family: 'Raleway', sans-serif;
}